// Colors
$main-color: #444;
$promo-main: #fff;
$review-main: #353535;
$stat-main: #fff;

// Grid
$total-columns: 12;

// Header
$header-bg-color: #2c2c2c;
$header-font-color: #ffffff;
$header-nav-hover-border: #efefef;

// Brief
$video-height: 300px;

// Contacts
$thumb-bg: #337ba0;

// Cost calculator form

