.contacts {
  margin-top: 50px;
  background-image: url('../img/bg-contacts.jpg');
  background-size: cover;
  background-attachment: fixed;
  @include column-va-top;

  .airport {
    margin: 50px 0;
    
    &__thumb {
      padding: 10px;
      border-radius: 5px;
      background-color: $thumb-bg;
      display: inline-block;
      margin-bottom: 30px;

      &:after {
        content: '';
        display: block;
        width: 41px;
        height: 40px;
        background-image: url('../img/spritesheet.png');
        background-position: -10px -184px;
      }
    }

    &__text {
      @include font($main-color, 26px, 500);
      margin: 0;
    }

    &__address {
      @include font(#616161);
      margin: 10px 0;
    }
  }

  .office {
    position: relative;
    padding-left: 55px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      width: 35px;
      height: 50px;
      background-position: -10px -75px;
      top: 0px;
      left: 0px;
    }
    
    &__location {
      @include font(#2b2b2b, 22px, 500);
      margin: 0;
    }

    &__address-wrapper {
      margin: 10px 0;
    }

    &__address,
    &__schedule {
      @include font(#525252, 20px);
      margin: 0;
    }

    &__phone {
      @include font(#292929, 26px, 500);
      margin-bottom: 50px;
    }
  }

  .social {

    .email {
      position: relative;
      @include font($main-color, 22px);
      margin-top: 0;
      border-bottom: 1px solid #444;
      display: inline-block;
      margin-left: 30px;

      &:hover {
        cursor: pointer;
      }

      &:after {
        content: '\e802';
        display: block;
        position: absolute;
        top: 0;
        left: -30px;
        color: $thumb-bg;
        font-size: 20px;
        font-family: 'socials';
      }
    }

    .icons {

      .icon {
        font-size: 20px;
        text-decoration: none;
        color: #444;
        margin-right: 10px;
      }
    }
  }
}