.details {
  margin: 100px 0;
  @include column-va-top;

  .payment {
    padding-right: 4%;
  }

  .faq {
    padding-left: 4%;

    .faq-list {
      margin: 40px 0;

      &__question {
        position: relative;
        @include font($main-color, $lh: 24px);
        padding-left: 55px;
        margin: 20px 0;

        &:after {
          content: '';
          position: absolute;
          display: block;
          background-image: url('../img/spritesheet.png');
          background-repeat: no-repeat;
          width: 40px;
          height: 34px;
          background-position: -10px -244px;
          top: -6px;
          left: 0px;
        }
      }

      &__answer {
        @include font($main-color, 16px, $lh: 24px);
        padding-left: 75px;
        margin: 20px 0;
      }
    }
  }
}