.feature {
  padding: 75px 0;
  background-color: #fff;
  display: block;

  &-img {
    display: inline-block;
    width: 25%;
    vertical-align: middle
  }

  &-text {
    @include font($main-color, 18px, 500, auto);
    padding-left: 20px;
    box-sizing: border-box;
    display: inline-block;
    width: 75%;
    vertical-align: middle
  }
}