.timer {
  background-color: #f2f2f2;
  padding: 20px 0;

  .timer-text {
    @include font(#26668e, 32px, 500);
    display: inline-block;
    padding: 5px 0;
  }

  .time {
    @include font(#26668e, 26px, 500);
    display: inline-block;
    padding: 5px 0;
    margin-left: 15px;
  }
}