.gallery {
  margin: 40px 0 100px;

  .gallery-wrapper {
    margin: 40px 0;

    img {
      margin: 0 auto;
    }
  }

  .gallery-arrow {
    position: absolute;
    top: 45%;

    &:before {
      font-size: 50px;
      color: #cfcfcf;
    }

    &:hover:before {
      cursor: pointer;
      color: #727272;
    }
  }

  .icon-left {
    left: -50px;
  }

  .icon-right {
    right: -50px;
  }
}