header,
footer {
  background-color: $header-bg-color;

  .logo {
    > a {
      @include font($header-font-color, 22px, 500);
    }
    padding: 20px 0 20px;
  }

  .menu {
    > ul > li {
      display: inline-block;
    }

    &__item {
      @include font($header-font-color);
      padding: 5px 10px;
      margin-left: 10px;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid $header-nav-hover-border;
      }
    }
  }

}