body > * {
  font-family: 'Fira Sans', Arial, Helvetica Neue, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center }

.block-left { margin-right: auto; }
.block-right { margin-left: auto; }
.block-center { margin: 0 auto; }

.italic { font-style: italic; }

// Firefox dashed select border focus fix
select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 #000 !important;
}

