.promo {
  background-image: url('../img/promo-bg.jpg');
  background-position: 50% 0%;
  background-size: 100% 130%;
  background-attachment: fixed;

  &-wrapper {
    width: 65%;
    margin: 0 auto;
  }

  &__text {
    @include font($promo-main, 66px, 500, auto);
    padding: 185px 0
  }

  &__btn {
    @include font($promo-main);
    padding: 5px 10px;
    border: 1px solid $promo-main;
    display: inline-block;
  }

  &__arrow {
    padding: 35px 35px 25px;
    display: inline-block;
  }
}