.section-header {
  display: block;

  &__text {
    @include font($main-color, 32px, 500);
    padding: 15px 0;
    display: block;
  }

  &__underline {
    width: 62px;
    height: 6px;
    background-color: #3e98d7;
    display: block;
  }
}

.section-text {
  display: block;
  margin: 25px 0;
  @include font($main-color, $lh: 24px);
}

span.section-text {
  margin: 0;
}

.section-textblock {
  margin: 20px 0 60px;
}

.subheader {
  @include font($main-color, 26px, 500, 24px);
  margin: 30px 0;
}