.stat {
  margin: 100px 0;
  padding: 40px 0;
  background-image: url('../img/bg-stat.jpg');
  background-size: cover;
  background-attachment: fixed;
  @include column-va-top;

  .stat-wrapper {
    word-wrap: normal;

    .stat-number {
      @include font($stat-main, 42px, 500, 160px);
      display: inline-block;
      width: 160px;
      height: 160px;
      border: 6px solid $stat-main;
      border-radius: 100%;
      margin: 20px 0;
    }

    .stat-text {
      @include font($stat-main, 24px, 500, auto);
      white-space: nowrap;
      display: inline-block;
      position: relative;
    }

    .crutch {
      position: relative;
      left: -13px;
    }
  }
}