.team {
  margin: 100px 0;

  .team-wrapper {
    margin: 50px 0;

    .team-member {

      &__photo {
        border-radius: 50%;
      }

      &__name {
        @include font($main-color, 22px, 500);
        margin: 30px 0 10px;
      }

      &__post {
        @include font($main-color);
        margin: 10px 0;
      }
    }
  }
}